.wallyfondo{
    position:absolute;
    height:200px;
    width:200px;
    top: 40px;
    left : 40px;
    z-index: 1;
  }
  
  .wally1
  {
    position:absolute;
    height:40px;
    width: 40px;
    z-index: 10;
  }